/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dragbar: rgb(230, 230, 230);
  --windowbg: rgb(252, 252, 252);
  --baseColor: #000000;
}

#svg {
  filter: invert(100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #ededed;
    --dragbar: rgb(35, 35, 35);
    --windowbg: rgb(45, 45, 45);
    --baseColor: #ffffff;
  }
  #svg {
    filter: invert(0);
  }
}

::-webkit-scrollbar {
  /* background-color: #000; */
  @apply bg-background;
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--baseColor);
  border-radius: 10px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  color: var(--baseColor);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
